*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  --teal: #204646;
  --lavender: #dedede;
}

body {
  color: var(--lavender);
  text-align: center;
}

/* Utility Classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Actual Styling */

/* ========
    header
   ========
*/

.header {
  font-family: "Aboreto", cursive;
  background-color: var(--teal);
  padding: 2em;
  height: 50vh;
}

.header-heading {
  padding: 0.5em;
  min-width: 215px;
  border: 2px solid gainsboro;
  border-radius: 4.6px;
  line-height: 1.5;
}

/* ========
     main
   ========
*/

.main {
  background-color: var(--lavender);
  color: var(--teal);
  height: 50vh;
  display: grid;
  place-items: center;
  padding: 1em;
}

.main-heading {
  font-size: 2rem;
}

.main-items {
  font-size: 1.2rem;
}

.main-items a {
  text-align: left;
  padding: 1em;
  color: var(--teal);
  transition: all 0.2s ease-in-out;
}

.main-items a:last-child {
  text-align: right;
}

.main-items a:hover,
.main-items a:focus {
  cursor: pointer;
  transform: scale(1.1);
}
